$primary-element-color: linear-gradient(96.51deg, #07C983 -7.26%, #00D2DA 109.08%);
$hover-element-color: linear-gradient(96.51deg, #60F9C2 -7.26%, #8AFBFF 109.08%);
$disabled-element-color: #7F8493;
$background-color: #1F1F23;
$background-color-element: #2D2D34;
$font-color: #FFFFFF;
$font-color-secondary: #7F8493;
$primary-color: #6DE2C9;
$secondary-color: #5D1DD8;


$lg-screen: 1080px;
$sm-screen: 560px;
